body {
    font-family: "Open Sans", sans-serif;
    background-color: #F9FAFB;
}

p:first-of-type {
    margin-top: 40px;
}

p {
    color: #555555;
    line-height: 1.5;
    margin-left: 80px;
}

label {
    margin-top: 10px;
}

.columns {
    margin-left: 35px;
}

.bg-white {
    background-color: #fff;
}


.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.48);
    padding: 15px;
    border-radius: 0.75rem;
}
